.moving-dot-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: relative;
  }
  
  .moving-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #3f51b5;
    border-radius: 50%;
    animation: moving-dot-dotMove 1.5s infinite linear;
    position: absolute;
  }
  
  
  .moving-dot-dot1,
  .moving-dot-dot2,
  .moving-dot-dot3 {
    background-color: #3f51b5;
  }
  

  .moving-dot-dot4,
  .moving-dot-dot5,
  .moving-dot-dot6 {
    background-color: #e91e63;
  }
 
  .moving-dot-dot7,
  .moving-dot-dot8,
  .moving-dot-dot9 {
    background-color: #ff9800;
  }
  
  .moving-dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .moving-dot:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .moving-dot:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .moving-dot:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .moving-dot:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  .moving-dot:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  .moving-dot:nth-child(7) {
    animation-delay: 0.6s;
  }
  
  .moving-dot:nth-child(8) {
    animation-delay: 0.7s;
  }
  
  .moving-dot:nth-child(9) {
    animation-delay: 0.8s;
  }
  
  @keyframes moving-dot-dotMove {
    0% {
      transform: translate(0px, 0px) scale(0.8);
      opacity: 2;
    }
  
    5% {
      transform: translate(2px, 0px);
      opacity: 2;
    }
  
    35% {
      transform: translate(58px, 0px);
      opacity: 2;
    }
  
    40% {
      transform: translate(60px, 0px) scale(0.8);
      opacity: 2;
    }
  
    50% {
      transform: translate(55px, 0px) scale(0.7);
      opacity: 2;
    }
  
    52% {
      transform: translate(50px, 0px) scale(0.7);
      opacity: 2;
    }
  
    60% {
      transform: translate(40px, 0px) scale(0.7);
      opacity: 0.2;
    }
  
    80% {
      transform: translate(20px, 0px) scale(0.7);
      opacity: 0;
    }
  
    90% {
      transform: translate(10px, 0px) scale(0.7);
      opacity: 0.2;
    }
  
    95% {
      transform: translate(5px, 0px) scale(0.7);
      opacity: 0.8;
    }
  
    100% {
      transform: translate(0px, 0px) scale(0.8);
      opacity: 2;
    }
  }