@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* util css */
.new-line {
  white-space: pre-line;
  height: 100px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif !important; 
  font-size: 14px;
  
}
.react-tabs__tab-panel {
 
  height: 100%;
}
.loginPage{  position: fixed;
  /* overflow: auto; */
  height: 100%;
  width: 100%;
  /* padding: 5px */
  /* background-color:lightgrey */
}
.WebPage {
  position: fixed;
  /* overflow: auto; */
  height: 100%;
  width: 100%;
  /* padding: 5px */
  ;min-width: 100vw;
  min-height: 100vh;
  /* background-color: #a0bbca;  */
}
.bgImg{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
/* .bgImg img{ */
 /* width: 100%; */
 .backImg{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* width:100%; */
  display: block;
  overflow: auto;
}

.spacing{
  padding: 5px;
  /* flex:none */
}

.spacing10{
  padding: 5px;
  /* flex:none */
}
.marginLeftAuto{
  
  margin-left: auto;
    display: flex;
    align-items: center;
}
.spacing2{
  padding: 2px;
}
.spacing15{
  padding: 15px;
}
.margin5px{
  margin: 5px;
}
.margin2px{
  margin: 2px;
}
.auto{
  overflow: auto;
}
.red{
  color: #A80019;
}
.inActive{
  color: #a0bbca;
}

.e4eContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.signedoutHeadingText {
  font-family: 'Segoe UI Semilight';
  font-size: 22px;
  color: #0072C6;
}
.pdfIcon{
  filter: invert(1);
}