/* -----------------------*/

.ixMainLayout {	
	background-color:		#D2E0E8	 
	
}
.ixMainLayoutDetail {
	background-color:		#D2E0E8;	

}

.ixMainHeaderLayout, ixMainHeaderDetailLayout {
	padding: 10px;
}

.ixMainHeaderTitle, ixMainHeaderDetailTitle {
	width:200px;
	color: #000000;
	font-Size:18px;
	font-weight: normal;
	text-align: end;   
}

.ixButtonHeader,
.ixButtonHeaderFocused,
.ixButtonHeaderFocusedOver,
.ixButtonHeaderFocusedDown,
.ixButtonHeaderSelectedDisabled,
.ixButtonHeaderOver,
.ixButtonHeaderDown,
.ixButtonHeaderSelected,
.ixButtonHeaderSelectedDown,
.ixButtonHeaderSelectedOver,
.ixButtonHeaderSelectedFocused,
.ixButtonHeaderSelectedFocusedDown,
.ixButtonHeaderSelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
	background:	#5B7A8F;
	color:		#FFFFFF;
    border: 1px solid #5B7A8F;
  	border-radius: 	5px;
  	padding : 4px;
  	line-height: 1px; 
  	text-align: center;
	margin: 	0px;
	cursor: 	pointer;
}
  	
.ixButtonHeaderDisabled, 
.ixButtonHeaderSelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
	background:	#5B7A8F;
	color:		#C8C8C8;
    border: 1px solid #5B7A8F;
  	border-radius: 	5px;
  	padding : 4px;
  	line-height: 1px; 
  	text-align: center;
	margin: 	0px;
	cursor: 	default;
}



/* button style to be used when displayed on the  Main Action Bar*/
.ixButtonMainActionBar,
.ixButtonMainActionBarFocused,
.ixButtonMainActionBarFocusedOver,
.ixButtonMainActionBarFocusedDown,
.ixButtonMainActionBarSelectedDisabled,
.ixButtonMainActionBarOver,
.ixButtonMainActionBarDown,
.ixButtonMainActionBarSelected,
.ixButtonMainActionBarSelectedDown,
.ixButtonMainActionBarSelectedOver,
.ixButtonMainActionBarSelectedFocused,
.ixButtonMainActionBarSelectedFocusedDown,
.ixButtonMainActionBarSelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
	background:	#FFFFFF;
	color:		#5B7A8F;
        border: 1px solid #FFFFFF;
  	border-radius: 	5px;
  	padding : 4px;
  	line-height: 1px; 
  	text-align: center;
	margin: 	0px;
	cursor: 	pointer;
}
  	
.ixButtonMainActionBarDisabled, 
.ixButtonMainActionBarSelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
	background:	#FFFFFF;
	color:		#C8C8C8;
        border: 1px solid #FFFFFF;
  	border-radius: 	5px;
  	padding : 4px;
  	line-height: 1px; 
  	text-align: center;
	margin: 	0px;
	cursor: 	default;
}


/***************Main Style that overrides the grid's header buttons and hear bar color ***********************/
.ixGridHeaderBar {
	background: #DDDDDD;
}

.ixGridHeaderButton,
.ixGridHeaderButtonSelected,
.ixGridHeaderButtonDisabled,
.ixGridHeaderButtonSelectedDisabled,
.ixGridHeaderButtonOver,
.ixGridHeaderButtonDown,
.ixGridHeaderButtonSelectedOver,
.ixGridHeaderButtonSelectedDown {
	font-family:Arial, Verdana, sans-serif;
    font-size:14px;
    font-weight: bold;
    font-weight: normal;
    color: #000000 !important;
        
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    background-image: none;
  	border-bottom: 1px solid #bfbfbf;
  	border-left: 1px solid #fafafa;
  	border-right: 1px solid #cccccc;
    background: #DDDDDD !important;
    
}

/***************************** Style to be used when displaying an info bar just below the header ***************/
.ixInfoContainer
{
	/*background-color: #EEEEEE;*/
	background-color: #f5f4e7;
  	border: 	3px solid #eeeeee;
  	border-radius: 	3px;
    	padding:	10px;
  	border:     none;
  	overflow:	hidden;
}

.ixInfoContainer .formTitle,
.ixInfoContainer .formCell,
.ixInfoContainer .staticTextItem,
.ixInfoContainer .ixFormTitleGrey {
	font-size: 16px;
}

/*Style used for left/right padding for a sub-header or main action bar or when both are used in the same container*/
.ixSubHeaderActionBarContainer {
	padding: 		10px;
	background: 		#D2E0E8;
}

/*****************************Main Action Bar Styles;  used just below the header or an info bar of a screen *********/
.ixMainActionBar,
.ixMainActionBarFocused,
.ixMainActionBarDisabled,
.ixMainActionBarError
{	
	background:		#5B7A8F;	
	border-radius: 		3px;
	
}


.ixMainActionBarContents,
.ixMainActionBarContentsFocused,
.ixMainActionBarContentsDisabled,
.ixMainActionBarContentsError
{
	padding: 		0px;	
	background:		#5B7A8F;	
	
}

/* button style to be used when displayed on the  Main Action Bar*/
.ixButtonMainActionBar,
.ixButtonMainActionBarFocused,
.ixButtonMainActionBarFocusedOver,
.ixButtonMainActionBarFocusedDown,
.ixButtonMainActionBarSelectedDisabled,
.ixButtonMainActionBarOver,
.ixButtonMainActionBarDown,
.ixButtonMainActionBarSelected,
.ixButtonMainActionBarSelectedDown,
.ixButtonMainActionBarSelectedOver,
.ixButtonMainActionBarSelectedFocused,
.ixButtonMainActionBarSelectedFocusedDown,
.ixButtonMainActionBarSelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
	background:	#FFFFFF;
	color:		#5B7A8F;
        border: 1px solid #FFFFFF;
  	border-radius: 	5px;
  	padding : 4px;
  	line-height: 1px; 
  	text-align: center;
	margin: 	0px;
	cursor: 	pointer;
}
  	
.ixButtonMainActionBarDisabled, 
.ixButtonMainActionBarSelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
	background:	#FFFFFF;
	color:		#C8C8C8;
        border: 1px solid #FFFFFF;
  	border-radius: 	5px;
  	padding : 4px;
  	line-height: 1px; 
  	text-align: center;
	margin: 	0px;
	cursor: 	default;
}

/* Style used in a detail screen when a scroll bar is required just below its static area for example header/info bar and main action bar */
.ixDetailContainer {	
	overflow: 	auto;
	background-color: #FFFFFF;
;
}

/* the main container for a detail screen's components*/
.ixDetailLayout {
	background-color:	#FFFFFF;
	border-radius: 	 	3px;	
	padding:          	10px;
}

/* container to style a detail screen's sections */
.ixDetailLayoutNoTopPadding {
	background-color:	#D2E0E8;
	border-radius: 		5px;
	padding-right:		10px;
	padding-left:		10px;
	padding-bottom:		10px;
}

.ixSmallDetailLayout
{
    background-color: #FFFFFF;
    border-radius: 	0px;                   
    padding:		0px; 
}


.ixSmallDetailContainer
{
	background-color: 	#FFFFFF;
	border-radius: 		0px;                   
	padding: 		10px;
	border:  		0px solid #FFFFFF;
}


.ixSmallDetailContainerLabel {
	font-family:Arial,Verdana,sans-serif; font-size:14px;
 	color: #999999; 
}

.ixSmallDetailContainerLabelBold {
	font-family:Arial,Verdana,sans-serif; font-size:14px;
 	color: #999999; 
 	font-weight: bold;
}

/*Action Bar container used in the small detail container*/
.ixSmallDetailActionBar
{	
	background:		#FFFFFF;	
	padding-right: 		12px;
	padding-left: 		12px;	
	padding-top: 		10px;
	padding-bottom: 	10px;
}


/* button style to be used when displayed on the Action Bar container used in a small detail container*/
.ixButtonSmallDetailActionBar,
.ixButtonSmallDetailActionBarFocused,
.ixButtonSmallDetailActionBarFocusedOver,
.ixButtonSmallDetailActionBarFocusedDown,
.ixButtonSmallDetailActionBarSelectedDisabled,
.ixButtonSmallDetailActionBarOver,
.ixButtonSmallDetailActionBarDown,
.ixButtonSmallDetailActionBarSelected,
.ixButtonSmallDetailActionBarSelectedDown,
.ixButtonSmallDetailActionBarSelectedOver,
.ixButtonSmallDetailActionBarSelectedFocused,
.ixButtonSmallDetailActionBarSelectedFocusedDown,
.ixButtonSmallDetailActionBarSelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
  	border: 1px solid #5B7A8F;  
  	border-radius: 5px;
   	color: 		#FFFFFF;
   	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	pointer;
  	line-height: 1px;
}
  	
.ixButtonSmallDetailActionBarDisabled, 
.ixButtonSmallDetailActionBarSelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
  	border: 1px solid #5B7A8F;  
  	border-radius: 5px;
   	color: 		#C8C8C8;
   	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	default;
  	line-height: 1px;
 	 
}

/* container to style a small grid that is used in a detail screen */

.ixDetailGridLayout {
        background: #FFFFFF;
        border-radius: 5px;
	border-style: none;
 	padding: 0px;
}

.ixDetailGridContainer {
	horizontal-align: center;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #FFFFFF;
}

/* Action Bar used in a small grid that is used in a detail screen */
.ixGridActionBar,
.ixGridActionBarFocused,
.ixGridActionBarDisabled,
.ixGridActionBarError
{	
	background:		#FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-right: 		12px;
	padding-left: 		12px;	
	padding-top: 		10px;
	padding-bottom: 	10px;
	
	/* background:		#D2E0E8;	
	border-bottom: 		4px solid #D2E0E8;
	border-top: 		4px solid #D2E0E8;	
	*/
}

.ixGridActionBarContents,
.ixGridActionBarContentsFocused,
.ixGridActionBarContentsDisabled,
.ixGridActionBarContentsError
{
	padding: 		0px;	
	background:		#FFFFFF;
}

/* buttons style to be used with the ixGridActionBar */
.ixButtonGridActionBar,
.ixButtonGridActionBarFocused,
.ixButtonGridActionBarFocusedOver,
.ixButtonGridActionBarFocusedDown,
.ixButtonGridActionBarSelectedDisabled,
.ixButtonGridActionBarOver,
.ixButtonGridActionBarDown,
.ixButtonGridActionBarSelected,
.ixButtonGridActionBarSelectedDown,
.ixButtonGridActionBarSelectedOver,
.ixButtonGridActionBarSelectedFocused,
.ixButtonGridActionBarSelectedFocusedDown,
.ixButtonGridActionBarSelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
  	border-top: 1px solid #5B7A8F;  
  	border-bottom: 1px solid #5B7A8F;  
  	border-left: 1px solid #5B7A8F;  
  	border-right: 1px solid #5B7A8F;  
        border-radius: 5px;
   	color: 		#ffffff;
   	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	pointer;
  	line-height: 1px; 
}

.ixButtonGridActionBarDisabled, 
.ixButtonGridActionBarSelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
	color: 			#C8C8C8;	
   	cursor: 		default;
   	background:		#5B7A8F;
   	border-top: 1px solid #5B7A8F;  
  	border-bottom: 1px solid #5B7A8F;  
  	border-left: 1px solid #5B7A8F;  
  	border-right: 1px solid #5B7A8F;  
        border-radius: 5px;
        padding: 	4px;	
	margin: 	0px;
	text-align: center;	
  	
}

/******************************************* Detail Screen Styles*****************/






.mainActionBarContentsWithBackButton,
.mainActionBarContentsWithBackButtonFocused,
.mainActionBarContentsWithBackButtonDisabled,
.mainActionBarContentsWithBackButtonError
{
/*
	padding: 		0px;	
	background:		#D2E0E8;	
*/
}


.mainActionBarContentsDarkTeal,
.mainActionBarContentsDarkTealFocused,
.mainActionBarContentsDarkTealDisabled,
.mainActionBarContentsDarkTealError
{	
/*	
	background:		#FFFFFF;	
	border-bottom: 	4px solid #FFFFFF;
	border-top: 	4px solid #FFFFFF;	
	border-top-left-radius:  5px;
	border-top-right-radius:  5px;
	padding-top: 		7px;
	padding-bottom: 	7px;
	padding-right: 		12px;
	padding-left: 		12px;	
*/
}

.mainActionBarContentsWithBackButtonDarkTeal,
.mainActionBarContentsWithBackButtonDarkTealFocused,
.mainActionBarContentsWithBackButtonDarkTealDisabled,
.mainActionBarContentsWithBackButtonDarkTealError
{
	
/*	background:		#FFFFFF;	
	padding: 		0px;	
	margin: 		0px;	
	color:			black;
*/
}

/* -----------------------*/
.roundedActionBar,
.roundedActionBarocused,
.roundedActionBarWithBackButton,
.roundedActionBarWithBackButtonFocused,
.roundedActionBarWithBackButtonDisabled,
.roundedActionBarWithBackButtonError,
.roundedActionBarContents,
.roundedActionBarContentsFocused,
.roundedActionBarContentsDisabled,
.roundedActionBarContentsError
.roundedActionBarWithBackButton,
.roundedActionBarWithBottomBorder,
.roundedActionBarWithTopBorder
{
	
	background:		#D2E0E8;	
	border: 	1px solid #D2E0E8;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 		3px;
    padding-bottom:		3px;
    padding-left: 		0px;
    padding-right: 		0px;		
    margin: 		0px;	
}

.roundedActionBarWithTopBorder {
	border-top: 	1px solid #A7ABB4;
	border-left: 	1px solid #A7ABB4;
	border-right: 	1px solid #A7ABB4;
	border-top-right-radius: 5px;
	
}
.roundedActionBarWithBottomBorder
{	
	border-bottom: 	2px solid #A0BBCA;
			
}

.roundedActionBarWithBackButton,
.roundedActionBarContentsWithBackButtonFocused,
.roundedActionBarContentsWithBackButtonDisabled,
.roundedActionBarContentsWithBackButtonError
{
	padding-left:	2px;
	padding-right:	2px;
	margin: 		0px;	
	color:			#FFFFFF;
    font-weight:	bold;
}


.actionBar
{
	
	background:		#D2E0E8;	
	border: 	1px solid #D2E0E8;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;	
}

.actionBarWithBottomBorder
{	
	background:		#D2E0E8;	
	border-top: 	1px solid #D2E0E8;
	border-right: 	1px solid #D2E0E8;
	border-left: 	1px solid #D2E0E8;
	border-bottom: 	2px solid #A0BBCA;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;		
}

/* -----------------------*/
.actionBarDarkTeak,
.actionBarDarkTeakContents
{
	
	background:		#FFFFFF;	
	border: 	1px solid #FFFFFF;
    padding-top: 		3px;
    padding-bottom:		3px;
    padding-left: 		0px;
    padding-right: 		0px;		
    margin: 		0px;	
}

/* -----------------------*/
.actionBarLightTeak,
.actionBarLightTeakContents
{
	
	background:		#D2E0E8;	
	border: 	1px solid #D2E0E8;
    padding-top: 		3px;
    padding-bottom:		3px;
    padding-left: 		0px;
    padding-right: 		0px;		
    margin: 		0px;	
}


.mainActionBarWithBackButton,
.mainActionWithBackButtonFocused,
.mainActionBarWithBackButtonDisabled,
.mainActionBarWithBackButtonError,
.mainActionBarContents,
.mainActionBarContentsFocused,
.mainActionBarContentsDisabled,
.mainActionBarContentsError
{	
/*	
	background: #FFFFFF;	
	border-bottom: 4px solid #FFFFFF;
	border-top: 4px solid #FFFFFF;	
	border-top-left-radius:  5px;
	border-top-right-radius:  5px;
	padding-right: 		12px;
	padding-left: 		12px;	
*/
}

.mainActionBarContentsWithBackButton, .mainActionBarContentsWithBackButtonFocused, .mainActionBarContentsWithBackButtonDisabled, .mainActionBarContentsWithBackButtonError {
/*
    padding: 0px;
    background: #FFFFFF;
*/
}


/******************************************* Detail Screen Styles*****************/


/* --- toggleButtonContainer, leftToggleButton, middleToggleButton and rightToggleButton  for toggle button----- */

.ixtoggleButtonContainer {
       border:        2px  solid #5B7A8F;
       background: transparent;
       border-radius: 5px;
}

.ixLeftToggleButton,
.ixLeftToggleButtonOver,
.ixLeftToggleButtonDisabled
{
    font-family:  Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background-color: #ffffff;
    border-right:  2px solid #5B7A8F;
    color:  #5B7A8F;     
    margin:  0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixLeftToggleButtonDown,
.ixLeftToggleButtonFocused,
.ixLeftToggleButtonFocusedOver,
.ixLeftToggleButtonFocusedDown,
.ixLeftToggleButtonSelected,
.ixLeftToggleButtonSelectedFocused,
.ixLeftToggleButtonSelectedDown,
.ixLeftToggleButtonSelectedFocusedDown,
.ixLeftToggleButtonSelectedOver,
.ixLeftToggleButtonSelectedFocusedOver,
.ixLeftToggleButtonSelectedDisabled
{
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #5B7A8F;     
    border-right: 2px solid #5B7A8F;
    color: #ffffff;     
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
    
}

.ixRightToggleButton,
.ixRightToggleButtonOver,
.ixRightToggleButtonDisabled
{
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #FFFFFF;     
    color: #5B7A8F;          
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixRightToggleButtonDown,
.ixRightToggleButtonFocused,
.ixRightToggleButtonFocusedOver,
.ixRightToggleButtonFocusedDown,
.ixRightToggleButtonSelected,
.ixRightToggleButtonSelectedFocused,
.ixRightToggleButtonSelectedDown,
.ixRightToggleButtonSelectedFocusedDown,
.ixRightToggleButtonSelectedOver,
.ixRightToggleButtonSelectedFocusedOver,
.ixRightToggleButtonSelectedDisabled
{
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #5B7A8F;     
    color: #ffffff;     
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixMiddleToggleButton,
.ixMiddleToggleButtonOver,
.ixMiddleToggleButtonDisabled
{
   font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #FFFFFF; 
    border-right:2px solid #5B7A8F;
    color: #5B7A8F;     
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixMiddleToggleButtonDown,
.ixMiddleToggleButtonFocused,
.ixMiddleToggleButtonFocusedOver,
.ixMiddleToggleButtonFocusedDown,
.ixMiddleToggleButtonSelected,
.ixMiddleToggleButtonSelectedFocused,
.ixMiddleToggleButtonSelectedDown,
.ixMiddleToggleButtonSelectedFocusedDown,
.ixMiddleToggleButtonSelectedOver,
.ixMiddleToggleButtonSelectedFocusedOver,
.ixMiddleToggleButtonSelectedDisabled
{
   font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #5B7A8F;     
    border-right: 2px solid #5B7A8F;
    color: #ffffff;     
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixLeftToggleButtonDisabled,
.ixMiddleToggleButtonDisabled,
.ixRightToggleButtonDisabled {
	color: #80808D;
}

.ixLeftToggleButtonSelectedDisabled,
.ixRightToggleButtonSelectedDisabled,
.ixMiddleToggleButtonSelectedDisabled {
  	color: #C8C8C8;	
}

/**** Toggle button To be used with the Small Detail Action Bar ****/
.ixToggleButtonContainer2 {
       border:        2px  solid #5B7A8F;
       background: transparent;
       border-radius: 5px;
}

.ixLeftToggleButton2,
.ixLeftToggleButton2Over,
.ixLeftToggleButton2Disabled
{
    font-family:  Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background:  #FFFFFF;     
    border-right:  2px solid #5B7A8F;
    color:  #5B7A8F;     
    margin:  0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
    /*
        background:  #d2e0e8;     
    */
}

.ixLeftToggleButton2Down,
.ixLeftToggleButton2Focused,
.ixLeftToggleButton2FocusedOver,
.ixLeftToggleButton2FocusedDown,
.ixLeftToggleButton2Selected,
.ixLeftToggleButton2SelectedFocused,
.ixLeftToggleButton2SelectedDown,
.ixLeftToggleButton2SelectedFocusedDown,
.ixLeftToggleButton2SelectedOver,
.ixLeftToggleButton2SelectedFocusedOver,
.ixLeftToggleButton2SelectedDisabled
{
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #5B7A8F;     
    border-right: 2px solid #5B7A8F;
    color: #FFFFFF;     
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixRightToggleButton2,
.ixRightToggleButton2Over,
.ixRightToggleButton2Disabled
{
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #FFFFFF;     
    color: #5B7A8F;          
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixRightToggleButton2Down,
.ixRightToggleButton2Focused,
.ixRightToggleButton2FocusedOver,
.ixRightToggleButton2FocusedDown,
.ixRightToggleButton2Selected,
.ixRightToggleButton2SelectedFocused,
.ixRightToggleButton2SelectedDown,
.ixRightToggleButton2SelectedFocusedDown,
.ixRightToggleButton2SelectedOver,
.ixRightToggleButton2SelectedFocusedOver,
.ixRightToggleButton2SelectedDisabled
{
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #5B7A8F;     
    color: #FFFFFF;     
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;

}

.ixMiddleToggleButton2,
.ixMiddleToggleButton2Over,
.ixMiddleToggleButton2Disabled
{
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #FFFFFF; 
    border-right:2px solid #5B7A8F;
    color: #5B7A8F;     
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixMiddleToggleButton2Down,
.ixMiddleToggleButton2Focused,
.ixMiddleToggleButton2FocusedOver,
.ixMiddleToggleButton2FocusedDown,
.ixMiddleToggleButton2Selected,
.ixMiddleToggleButton2SelectedFocused,
.ixMiddleToggleButton2SelectedDown,
.ixMiddleToggleButton2SelectedFocusedDown,
.ixMiddleToggleButton2SelectedOver,
.ixMiddleToggleButton2SelectedFocusedOver,
.ixMiddleToggleButton2SelectedDisabled
{
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background: #5B7A8F;     
    border-right: 2px solid #5B7A8F;
    color: #FFFFFF;     
    margin: 0px;
    text-align: center;   
    cursor: pointer;
    padding: 5px;
}

.ixLeftToggleButton2Disabled,
.ixMiddleToggleButton2Disabled,
.ixRightToggleButton2Disabled {
	color: #80808D;
}

.ixLeftToggleButton2SelectedDisabled,
.ixRightToggleButton2SelectedDisabled,
.ixMiddleToggleButton2SelectedDisabled {
  	color: #C8C8C8;	
}


/******************************************Buttons**********/

/* teal button with white font color*/
.ixButton1,
.ixButton1Focused,
.ixButton1FocusedOver,
.ixButton1FocusedDown,
.ixButton1SelectedDisabled,
.ixButton1Over,
.ixButton1Down,
.ixButton1Selected,
.ixButton1SelectedDown,
.ixButton1SelectedOver,
.ixButton1SelectedFocused,
.ixButton1SelectedFocusedDown,
.ixButton1SelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
  	border-top: 1px solid #5B7A8F;  
  	border-bottom: 1px solid #5B7A8F;  
  	border-left: 1px solid #5B7A8F;  
  	border-right: 1px solid #5B7A8F;  
    border-radius: 5px;
   	color: 		#ffffff;
   	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	pointer;
  	line-height: 1px; 
}

.ixButton1Disabled, 
.ixButton1SelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
	color: 			#C8C8C8;	
   	cursor: 		default;
   	background:		#5B7A8F;
   	border-top: 1px solid #5B7A8F;  
  	border-bottom: 1px solid #5B7A8F;  
  	border-left: 1px solid #5B7A8F;  
  	border-right: 1px solid #5B7A8F;  
    border-radius: 5px;
    padding: 	4px;	
	margin: 	0px;
	text-align: center;	
  	
}

/* white buttons with teal font color*/

.ixButton2,
.ixButton2Down,
.ixButton2Disabled,
.ixButton2Hover,
.ixButton2Over,
.ixButton2Focused,
.ixButton2FocusedOver,
.ixButton2Down,
.ixButton2FocusedDown,
.ixButton2Selected,
.ixButton2SelectedFocused,
.ixButton2SelectedDown,
.ixButton2SelectedFocusedDown,
.ixButton2SelectedOver {
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
	background:	#FFFFFF;
	color:		#5B7A8F;
        border-style: 	none;
  	border-radius: 	5px;
  	padding : 4px;
  	line-height: 1px; 
  	text-align: center;
	margin: 	0px;
	cursor: 	pointer;
}
.ixButton2Disabled {
    border-style: 	none;
	border-radius: 	5px;
	background:	#FFFFFF;
  	color: 			#C8C8C8;	
  	cursor: 		default;
}

/* default yellow button*/
.ixDefaultButton1,
.ixDefaultButton1Disabled,
.ixDefaultButton1SelectedDisabled {
    font-family: Arial,Verdana, sans-serif; font-size:16px; font-weight:    normal;
    background-color: #FFEC9B;   
    border: 1px solid #5B7A8F;  
    color: #000000; 
    border-radius: 5px;   
   	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	pointer;
	line-height: 	1px;
	
}


/* default green button*/
.ixDefaultButton2,
.ixDefaultButton2Disabled,
.ixDefaultButton2SelectedDisabled {
	
	font-family:Arial,Verdana,sans-serif; font-size:14px;	
  	background-color:	#38761D;
	color: 			#FFFFFF;
  	border: 	1px solid #38761D;  
    border-radius: 	5px;
	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	pointer;
  	line-height: 	1px;
}


.ixDefaultButton1Disabled,
.ixDefaultButton1SelectedDisabled,
.ixDefaultButton2Disabled,
.ixDefaultButton2SelectedDisabled {
  	color: 			#C8C8C8;	
  	cursor: 	default;
}
 
 /* edit button gold*/
.ixButton3, 
.ixButton3Down, 
.ixButton3Disabled, 
.ixActionButtonMustardHover, 
.ixButton3Over, 
.ixButton3Focused,
.ixButton3FocusedOver,
.ixButton3Down, 
.ixButton3FocusedDown, 
.ixButton3Selected, 
.ixButton3SelectedFocused, 
.ixButton3SelectedDown,
.ixButton3SelectedFocusedDown, 
.ixButton3SelectedOver, 
.ixButton3SelectedFocusedOver, 
.ixButton3Disabled, 
.ixButton3SelectedDisabled {
    
    font-family:Arial,Verdana,sans-serif; font-size:14px;
  	/*background-color:	#B99F55;
  	border: 		1px solid #B99F55;*/
  	background-color:	#FFFFFF;   
  	border: 		2px solid #5B7A8F;  
  	border-radius: 		4px;
  	color: 			#5B7A8F;
  	line-height: 1px; 
  	text-align: center;
  	cursor: pointer;
}
.ixButton3Disabled,
.ixButton3SelectedDisabled {
  	color: 			#C8C8C8;	
  	cursor: 	default;
}
 
/* Buttons */ 

/****************************************** Browse Styles ***********************************/

.ixBrowseLayout {
	background-color:		#d2e0e8;	
        padding:	10px;
        border-radius: 	0px;
}	

.ixBrowseContainer {
        background-color:  #A0BBCA;
        padding:	10px;
        border-radius: 	0px;

}


.ixFilterContainer {
	
  	background-color: 	#FFFFFF;
        border-radius: 		0px;
        padding: 		10px;
}

 
.ixSeparatorLineForFilter {
	background-color: #5B7A8F;
}

.ixBrowseInfoContainer {
        background-color:  #f5f4e7;
        padding: 	10px;
        border-radius: 	0px;
}

.ixBrowseGridActionBar,
.ixBrowseGridActionBarFocused,
.ixBrowseGridActionBarDisabled,
.ixBrowseGridActionBarError
{	
	background:			#FFFFFF;	
	border-top-left-radius:  0px;
	border-top-right-radius:  0px;
}
.ixBrowseGridActionBarContents,
.ixBrowseGridActionBarContentsFocused,
.ixBrowseGridActionBarContentsDisabled,
.ixBrowseGridActionBarContentsError
{
	padding: 		0px;	
	background:		#FFFFFF;
}

/* Button to be used with the ixBrowseGridActionBar */
.ixButtonBrowseGridActionBar,
.ixButtonBrowseGridActionBarFocused,
.ixButtonBrowseGridActionBarFocusedOver,
.ixButtonBrowseGridActionBarFocusedDown,
.ixButtonBrowseGridActionBarSelectedDisabled,
.ixButtonBrowseGridActionBarOver,
.ixButtonBrowseGridActionBarDown,
.ixButtonBrowseGridActionBarSelected,
.ixButtonBrowseGridActionBarSelectedDown,
.ixButtonBrowseGridActionBarSelectedOver,
.ixButtonBrowseGridActionBarSelectedFocused,
.ixButtonBrowseGridActionBarSelectedFocusedDown,
.ixButtonBrowseGridActionBarSelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
  	border-top: 1px solid #5B7A8F;  
  	border-bottom: 1px solid #5B7A8F;  
  	border-left: 1px solid #5B7A8F;  
  	border-right: 1px solid #5B7A8F;  
    border-radius: 5px;
   	color: 		#ffffff;
   	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	pointer;
  	line-height: 1px; 
}

.ixButtonBrowseGridActionBarDisabled, 
.ixButtonBrowseGridActionBarSelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
	color: 			#C8C8C8;	
   	cursor: 		default;
   	background:		#5B7A8F;
   	border-top: 1px solid #5B7A8F;  
  	border-bottom: 1px solid #5B7A8F;  
  	border-left: 1px solid #5B7A8F;  
  	border-right: 1px solid #5B7A8F;  
    border-radius: 5px;
    padding: 	4px;	
	margin: 	0px;
	text-align: center;	
  	
}
/* Button to be used with the ixBrowseGridActionBar */

.ixBrowseGridLayout {
        background: #FFFFFF;
        border-radius: 0px;
	padding:	10px;
}

.ixBrowseGridContainer  {
	horizontal-align: center;
	background: #FFFFFF;
}
/* Browse Styles */


/* menu styles */

/*****************MenuLight, MenuDark styles ***********************/

.invPopupMenuLight {
  border: 2px solid #D2E0E8;
}

.invPopupMenuLight .menuBorder {
  border: 2px solid #D2E0E8;
}

.invPopupMenuLight .menu,
.invPopupMenuLight .menuSelected, 
.invPopupMenuLight .menuDisabled {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: none;
	border-color: #ffffff;
	background-color: #ffffff;
}

.invPopupMenuLight .menuDisabled,
.invPopupMenuLight .menuTitleFieldDisabled {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #cccccc;
	background: none;
	border-color: #ffffff;	
	
}

.invPopupMenuLight .menuOver, 
.invPopupMenuLight .menuSelectedOver, 
.invPopupMenuLight .menuTitleFieldOver {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #000000;
	background: none;
	background-color: #fff2c5;
	border-color: #fff2c5;
}

.invPopupMenuLight .menuTitleField, 
.invPopupMenuLight .menuTitleFieldDark, 
.invPopupMenuLight .menuTitleFieldSelected,
.invPopupMenuLight .menuTitleFieldSelectedDark, 
.invPopupMenuLight .menuTitleFieldSelectedOver,
.invPopupMenuLight .menuTitleFieldSelectedOverDark {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	background: none;
	border-color: #ffffff;
	background-color: #ffffff;
}

.invPopupMenuLight .menuIconField,
.invPopupMenuLight .menuIconFieldOver,
.invPopupMenuLight .menuIconFieldOverDark,
.invPopupMenuLight .menuIconFieldSelectedOver,
.invPopupMenuLight .menuIconFieldSelectedOverDark,
.invPopupMenuLight .menuIconFieldDisabled {	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
  	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background: none;
	border-color: #D2E0E8;
	background-color: #D2E0E8;
} 


.invPopupMenuMedium {
	border: 2px solid #A0BBCA; 	
}
.invPopupMenuMedium .menuBorder {
  border: 2px solid #A0BBCA;
}

.invPopupMenuMedium .menu,
.invPopupMenuMedium .menuSelected {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: none;
	border-color: #ffffff;
	background-color: #ffffff;
}

.invPopupMenuMedium .menuDisabled,
.invPopupMenuMedium .menuTitleFieldDisabled {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #cccccc;
	background: none;
	border-color: #ffffff;
}

.invPopupMenuMedium .menuOver, 
.invPopupMenuMedium .menuSelectedOver, 
.invPopupMenuMedium .menuTitleFieldOver {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #000000;
	background: none;
	background-color: #fff2c5;
	border-color: #fff2c5;
}

.invPopupMenuMedium .menuTitleField, 
.invPopupMenuMedium .menuTitleFieldDark, 
.invPopupMenuMedium .menuTitleFieldSelected,
.invPopupMenuMedium .menuTitleFieldSelectedDark, 
.invPopupMenuMedium .menuTitleFieldSelectedOver,
.invPopupMenuMedium .menuTitleFieldSelectedOverDark {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	background: none;
	border-color: #ffffff;
	background-color: #ffffff;
}

.invPopupMenuMedium .menuIconField,
.invPopupMenuMedium .menuIconFieldOver,
.invPopupMenuMedium .menuIconFieldOverDark,
.invPopupMenuMedium .menuIconFieldSelectedOver,
.invPopupMenuMedium .menuIconFieldSelectedOverDark,
.invPopupMenuMedium .menuIconFieldDisabled {	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
  	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background: none;
	border-color: #A0BBCA;
	background-color: #A0BBCA;
}


.invPopupMenuDark {
  border: 2px solid #6D92A5;
}

.invPopupMenuDark .menuBorder {
  border: 2px solid #6D92A5;
}

.invPopupMenuDark .menu,
.invPopupMenuDark .menuSelected, 
.invPopupMenuDark .menuDisabled {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: none;
	border-color: #ffffff;
	background-color: #ffffff;
}

.invPopupMenuDark .menuDisabled,
.invPopupMenuDark .menuTitleFieldDisabled {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #cccccc;
	background: none;
	border-color: #ffffff;	
	
}

.invPopupMenuDark .menuOver, 
.invPopupMenuDark .menuSelectedOver, 
.invPopupMenuDark .menuTitleFieldOver {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #000000;
	background: none;
	background-color: #fff2c5;
	border-color: #fff2c5;
}

.invPopupMenuDark .menuTitleField, 
.invPopupMenuDark .menuTitleFieldDark, 
.invPopupMenuDark .menuTitleFieldSelected,
.invPopupMenuDark .menuTitleFieldSelectedDark, 
.invPopupMenuDark .menuTitleFieldSelectedOver,
.invPopupMenuDark .menuTitleFieldSelectedOverDark {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	background: none;
	border-color: #ffffff;
	background-color: #ffffff;
}

.invPopupMenuDark .menuIconField,
.invPopupMenuDark .menuIconFieldOver,
.invPopupMenuDark .menuIconFieldOverDark,
.invPopupMenuDark .menuIconFieldSelectedOver,
.invPopupMenuDark .menuIconFieldSelectedOverDark,
.invPopupMenuDark .menuIconFieldDisabled {	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
  	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background: none;
	border-color: #6D92A5;
	background-color: #6D92A5;
}

.invPopupMenuVeryDark  {
  border: 2px solid #5B7A8F;
}

.invPopupMenuVeryDark .menuBorder {
  border: 2px solid #5B7A8F;
}

.invPopupMenuVeryDark .menu,
.invPopupMenuVeryDark .menuSelected, 
.invPopupMenuVeryDark .menuDisabled {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: none;
	border-color: #ffffff;
	background-color: #ffffff;
}

.invPopupMenuVeryDark .menuDisabled,
.invPopupMenuVeryDark .menuTitleFieldDisabled {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #cccccc;
	background: none;
	border-color: #ffffff;	
	
}

.invPopupMenuVeryDark .menuOver, 
.invPopupMenuVeryDark .menuSelectedOver, 
.invPopupMenuVeryDark .menuTitleFieldOver {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #000000;
	background: none;
	background-color: #fff2c5;
	border-color: #fff2c5;
}

.invPopupMenuVeryDark .menuTitleField, 
.invPopupMenuVeryDark .menuTitleFieldVeryDark, 
.invPopupMenuVeryDark .menuTitleFieldSelected,
.invPopupMenuVeryDark .menuTitleFieldSelectedVeryDark, 
.invPopupMenuVeryDark .menuTitleFieldSelectedOver,
.invPopupMenuVeryDark .menuTitleFieldSelectedOverVeryDark {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	background: none;
	border-color: #ffffff;
	background-color: #ffffff;
}

.invPopupMenuVeryDark .menuIconField,
.invPopupMenuVeryDark .menuIconFieldOver,
.invPopupMenuVeryDark .menuIconFieldOverVeryDark,
.invPopupMenuVeryDark .menuIconFieldSelectedOver,
.invPopupMenuVeryDark .menuIconFieldSelectedOverVeryDark,
.invPopupMenuVeryDark .menuIconFieldDisabled {	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
  	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background: none;
	border-color: #5B7A8F;
	background-color: #5B7A8F;
}


/* menu styles */


/******************************Popup Windows  *******************************/
.ixPopupLayout {
	background-color: #EAEDED;	
	padding: 0px;
}

.ixPopupContainer {
	background: #EAEDED;	
	border: 3px solid 5B7A8F;
	border-radius: none;
	padding: 10px;
}

.ixPopupHeader {
	background-color: #FFFFFF;
	padding: 5px;
}

.ixPopupHeaderTitle {
	color: #999999;
	font-size: 14px
}
.ixButtonPopupHeader,
.ixButtonPopupHeaderFocused,
.ixButtonPopupHeaderFocusedOver,
.ixButtonPopupHeaderFocusedDown,
.ixButtonPopupHeaderSelectedDisabled,
.ixButtonPopupHeaderOver,
.ixButtonPopupHeaderDown,
.ixButtonPopupHeaderSelected,
.ixButtonPopupHeaderSelectedDown,
.ixButtonPopupHeaderSelectedOver,
.ixButtonPopupHeaderSelectedFocused,
.ixButtonPopupHeaderSelectedFocusedDown,
.ixButtonPopupHeaderSelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#999999;
  	border: 1px solid #999999;  
        border-radius: 5px;
   	color: 		#ffffff;
   	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	pointer;
  	line-height: 1px; 
}

.ixButtonPopupHeaderDisabled, 
.ixButtonPopupHeaderSelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#999999;
	color: 		#C8C8C8;	
   	cursor: 	default;
   	border:     	1px solid #999999;  
    	border-radius: 5px;
    	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
}


.ixPopupFooter {
	padding-left:  10px;
	padding-right: 10px;
}

.ixButtonPopup,
.ixButtonPopupFocused,
.ixButtonPopupFocusedOver,
.ixButtonPopupFocusedDown,
.ixButtonPopupSelectedDisabled,
.ixButtonPopupOver,
.ixButtonPopupDown,
.ixButtonPopupSelected,
.ixButtonPopupSelectedDown,
.ixButtonPopupSelectedOver,
.ixButtonPopupSelectedFocused,
.ixButtonPopupSelectedFocusedDown,
.ixButtonPopupSelectedFocusedOver
{	
	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
  	border-top: 1px solid #5B7A8F;  
  	border-bottom: 1px solid #5B7A8F;  
  	border-left: 1px solid #5B7A8F;  
  	border-right: 1px solid #5B7A8F;  
    border-radius: 5px;
   	color: 		#ffffff;
   	padding: 	4px;	
	margin: 	0px;
	text-align: center;	
	cursor: 	pointer;
  	line-height: 1px; 
}

.ixButtonPopupDisabled, 
.ixButtonPopupSelectedDisabled
 {
 	font-family:Arial,Verdana, sans-serif; 	font-size:	14px;    font-weight: bold;
  	background:	#5B7A8F;
	color: 			#C8C8C8;	
   	cursor: 		default;
   	background:		#5B7A8F;
   	border-top: 1px solid #5B7A8F;  
  	border-bottom: 1px solid #5B7A8F;  
  	border-left: 1px solid #5B7A8F;  
  	border-right: 1px solid #5B7A8F;  
    border-radius: 5px;
    padding: 	4px;	
	margin: 	0px;
	text-align: center;	
  	
}

/******************************Misc Styles **********************************/


.ixDecoratorContainer {
	background: #999999;
	border-radius: 5px;
}


.ixDecoratorContents {
	background: #FFFFFF;
	border-radius: 5px;
	padding: 3px;
	border: 3px solid #999999;
}

.ixDecoratorLabel {
font-family:Arial,Verdana,sans-serif; font-size:14px;
color: #FFFFFF;
}

.ixDecoratorButton,
.ixDecoratorButtonFocused,
.ixDecoratorButtonFocusedOver,
.ixDecoratorButtonFocusedDown,
.ixDecoratorButtonDisabled,
.ixDecoratorButtonSelectedDisabled,
.ixDecoratorButtonOver,
.ixDecoratorButtonDown,
.ixDecoratorButtonSelected,
.ixDecoratorButtonSelectedDown,
.ixDecoratorButtonSelectedOver,
.ixDecoratorButtonSelectedFocused,
.ixDecoratorButtonSelectedFocusedDown,
.ixDecoratorButtonSelectedFocusedOver
{
font-family: Arial, Verdana, sans-serif;
font-size: 14px;
font-weight: bold;
background: #FFFFFF;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #FFFFFF;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #FFFFFF;
border-radius: 3px;
color: #000000;
text-align: center;
cursor: pointer;
line-height: 1px;
}

.ixDecoratorButtonDisabled,
.ixDecoratorButtonSelectedDisabled
{
color: #C8C8C8;
cursor: default;
}


/* to be used for input fieleds that need a decoratoro for exh whs,brh */

.ixDecoratorInputContainer { 
	background: #5B7A8F;
	border-radius: 5px;
}

.ixDecoratorInputContents {
background: #FFFFFF;
border-radius: 5px;
padding: 3px;
border: 3px solid #6D92A5;
}

.ixDecoratorInputLabel {
font-family:Arial,Verdana,sans-serif; font-size:14px;
color: #FFFFFF;
}

.ixDecoratorInputButton,
.ixDecoratorInputButtonFocused,
.ixDecoratorInputButtonFocusedOver,
.ixDecoratorInputButtonFocusedDown,
.ixDecoratorInputButtonDisabled,
.ixDecoratorInputButtonSelectedDisabled,
.ixDecoratorInputButtonOver,
.ixDecoratorInputButtonDown,
.ixDecoratorInputButtonSelected,
.ixDecoratorInputButtonSelectedDown,
.ixDecoratorInputButtonSelectedOver,
.ixDecoratorInputButtonSelectedFocused,
.ixDecoratorInputButtonSelectedFocusedDown,
.ixDecoratorInputButtonSelectedFocusedOver
{
font-family: Arial, Verdana, sans-serif;
font-size: 14px;
font-weight: bold;
background: #FFFFFF;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #FFFFFF;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #FFFFFF;
border-radius: 3px;
color: #000000;
text-align: center;
cursor: pointer;
line-height: 1px;
}

.ixDecoratorInputButtonDisabled,
.ixDecoratorInputButtonSelectedDisabled
{
color: #C8C8C8;
cursor: default;
}

.ixGreyLabel {
	font-family:Arial,Verdana,sans-serif; font-size:14px;
 	color: #999999; 
 	
 	/* 	
 	color: #80808D;  */
}

.ixGreyLabelBold {
	font-family:Arial,Verdana,sans-serif; font-size:14px;
 	color: #999999; 
 	font-weight: bold;
 	/* 	
 	color: #80808D;  */
}

.ixBoldLabelBig {
	font-weight: bold;
	font-size: 24px;	
}

.ixFormTitleGrey {
	font-family: Arial,Verdana,sans-serif; 
	font-size: 14px;
 	color: #999999; 
}


/********************overide the tabset look ************************/

/*
   border and padding for tab pane.
*/
.tabSetContainer {
  background-color: transparent; 
  border: 3px solid #D2E0E8;
  border-radius: 8px;
  color: #d6d6d6;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
}
  
.tabButtonTop,
.tabButtonTopOver,
.tabButtonTopSelectedDisabled,
.tabButtonTopDisabled,
.tabButtonTopDown,
.tabButtonTopDownOver,
.tabButtonTopSelected,
.tabButtonTopSelectedOver,
.tabButtonTopSelectedDown,
.tabButtonTopSelectedFocused,
.tabButtonTopSelectedFocusedOver,
.tabButtonTopSelectedFocusedDown,
.tabButtonTopFocused,
.tabButtonTopFocusedOver,
.tabButtonTopFocusedDown {  
  font-family:Arial,Verdana,sans-serif;
  font-size: 14px;
  font-weight:bold;   
  border-bottom: none;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px;
  border-radius: 8px 8px 0px 0px;
  padding: 0px 27px;
  text-decoration: none;
  background-image: none !important;
}
 
 /* Unselected tabs state*/
.tabButtonTop
 {
  background-color : #5B7A8F;
  color: #FFFFFF !important; 
  border-top: 2px solid #5B7A8F; 
  border-left: 2px solid #5B7A8F;
  border-right: 2px solid #FFFFFF;  
  border-bottom: none;
}               

.tabButtonTopOver {
  background-color : #5B7A8F;
  color: #ffffff !important; /*Do not change font color on over*/
  border-top: 2px solid #5B7A8F; 
  border-left: 2px solid #5B7A8F;
  border-right: 2px solid #FFFFFF;  
  border-bottom: none;
}            

 /* Disabled tabs state*/
.tabButtonTopSelectedDisabled,
.tabButtonTopDisabled {    
    background-color:  #D6D6D6 !important;    
    color: #ffffff; 
    border-top: 2px solid #D6D6D6; 
  	border-left: 2px solid #D6D6D6;
  	border-right: 2px solid #FFFFFF;  
  	border-bottom: none;
}

 /* selected tabs state*/
.tabButtonTopDown,
.tabButtonTopDownOver,
.tabButtonTopSelected,
.tabButtonTopSelectedOver,
.tabButtonTopSelectedDown,
.tabButtonTopSelectedFocused,
.tabButtonTopSelectedFocusedOver,
.tabButtonTopSelectedFocusedDown,
.tabButtonTopFocused,
.tabButtonTopFocusedOver,
.tabButtonTopFocusedDown {	
	
	font-family:Arial,Verdana,sans-serif; font-size:14px;
    font-weight: bold !important;
    background-color: #D2E0E8 !important;   
    color: #fff2c6; 
    border-top: 2px solid #5B7A8F; 
  	border-left: 2px solid #5B7A8F;
  	border-right: 2px solid #FFFFFF;  
  	border-bottom: 2px solid #fff2c6;   
    background-image: none !important;

}
/* Grid row/cell colors*/
.gridRowMauve,
.gridRowMauveDark,
.gridRowMauveOver,
.gridRowMauveOverDark,
.gridRowMauveSelected,
.gridRowMauveSelectedDark,
.gridRowMauveSelectedOver,
.gridRowMauveSelectedOverDark,
.gridRowMauveDisabled,
.gridRowMauveDisabledDark
{
   font-family:Arial,Verdana,sans-serif;  
   font-size:14px; 
   font-weight:normal; 
   text-overflow:ellipsis;
   color: #000000;
   padding-right: 5px !important;   
   padding-left: 5px !important;   
   border-bottom:1px solid #D1D1D1; 
   border-right:1px solid #D1D1D1 ;
   background-color: #d2bcc6;
   border-top: 1px solid #d2bcc6;
}
.gridRowMauveSelected,
.gridRowMauveSelectedDark
{
  background-color: #FFF2C6; 
  border-bottom: 1px dotted #9FB7E9;
  border-top: 1px dotted #9FB7E9;
  color: black;
}

.windowBody{
  border: 1px solid #FFFFFF;
}
