.react-tabs__tab-list {
    border-bottom: none;
    color: #ffffff;
    margin:0;
  
    /* margin: 0 0 10px;
    padding: 0; */
    /* background-color: blue; */
}

.react-tabs__tab{
    color: #ffffff;
    background-color: #A0BBCA;
    /* margin-top: 5px; */
    border: 2px solid #D2E0E8;
    min-width: 135px;
    
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.react-tabs__tab--selected {
    color: #6D92A5;
    background-color: #D2E0E8;
    /* margin-top: 5px; */
    border: 2px solid #D2E0E8;
    min-width: 135px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;



}
.react-tabs__tab:focus {
    box-shadow: none;
    border-color:transparent;
    outline: none;
}
.react-tabs {
    height: 100%;
    
    display: contents;
    -webkit-tap-highlight-color: transparent;
}
.ActiveTabClose {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    /* padding: 10px 5px 8px 5px; */
    /* font-size: 14px; */
    cursor: pointer;
}



.react-tabs__tab:focus:after {
    background: #D2E0E8;
    outline:0 !important;
}